*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #282D3E;
    font-size: 2em;
    color: white;
}

.container-centered{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    /* flex */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.container-centered #list {
    padding-left: 1em;
}

.selected{
    text-decoration: line-through;
}
